body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-fira-code: "Fira Code";
  --font-fjalla-one: "Fjalla One";

  /* font sizes */
  --font-size-lg: 1.13rem;
  --font-size-13xl: 2rem;
  --font-size-5xl: 1.5rem;
  --font-size-sm: 0.88rem;
  --font-size-xl: 1.25rem;
  --font-size-xs: 0.75rem;
  --font-size-3xs: 0.63rem;
  --font-size-3xl: 1.38rem;

  /* Colors */
  --color-gray-100: #112240;
  --color-white: #fff;
  --color-aquamarine: #F8F0E5;
  --color-lightsteelblue-100: #EADBC8;
  --color-lightsteelblue-200: #F8FDCF;
  --color-steelblue: #EADBC8;
  --color-silver-100: #c4c4c4;
  --color-silver-200: rgba(196, 196, 196, 0.25);
  --color-gainsboro: #e5e5e5;

  /* Border radiuses */
  --br-8xs: 5px;
}
